@import 'common_resetCss'; 
@import 'functions';
@import 'mixins';
@import 'octicons';
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
$visual-grid:true;
@import 'bower_components/neat/app/assets/stylesheets/neat';

$primary: 	#68b25b;
$secondary:	#85c07b;
$black:		#496a44;
$white:		#ffffff;

html {
  font-size: 14px;
}
body {
	@include openSans();
  	font-size: 1rem;
  	text-align: center;
	margin: 0 auto;
	width: 980px;
}

#outer {
	@include outer-container(12);
}

header {
	@include span-columns(12 of 12);
}

aside {
	margin-top: 80px;
	@include span-columns(3 of 12);
	img {
		width: 100%;
	}
}

main {
	margin-top: 80px;
	@include span-columns(9 of 12);
	@include omega();
}
